html, body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 30em;
  min-width: 20em;
  margin:auto;
}

form {
  max-width: 30em;
  
}

h1 {
  padding-bottom: 10px;
}

.hg-button {
  text-align: center;
  margin: auto;
}

.hg-header {
  width: 100%;
  margin: 0 auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10px;
  background-color: white;
  z-index:100;
}

.hg-header-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hg-header-item {
  display: block;
  padding: 2px;
  margin: 4px;
  border: none;
}

.hg-header-item > .material-icons {
  vertical-align: -6px;
 }
 
.btn:disabled {
  background-color:#c9c9c9 !important;
  opacity: 1.0 !important;
}

/* ===================================== */
/* MODAL WINDOWS WITH POP UP INFORMATION */
/* ===================================== */

/* modal background */
.hg-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 9; /* On top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal window close button */
.hg-modal-close {
  font-size: 2em;
  font-weight: bold; 
  padding-left: 10px;
}

.hg-modal-close:hover,
.hg-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* modal window definition for client */
.hg-modal-window {
  position: absolute;
  z-index: 10;
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fefefe;
  left: calc(50vw - 350px);
  top: calc(50vh - 200px);
  border: 1px solid #888;
  width: 700px;
  height: 400px;
}

/* modal window header for client */
.hg-modal-window-header {
  cursor: move;
  display: flex;
  background-color: orange;
  width: 100%;
  height: 40px;
  padding-top: 2px;
}

.hg-modal-window-header > p {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  text-align: center;
  margin-top: 8px;
}

.hg-modal-button-row {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hg-modal-body {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.hg-modal-text {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hg-modal-text > p {
  text-align: center;
  font-size: 1em;
  font-style: normal;
}
  
